
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid">
      <%= link_to "#", class: "navbar-brand" do %>
        <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFjl4ryyU53dH03nrCSmhd_GBstljaiFp3ig&usqp=CAU" %>
      <% end %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">

            <li class="nav-item active">
              <%= link_to "New list", new_list_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "My lists", root_path, class: "nav-link" %>
            </li>

        </ul>
      </div>
    </div>
  </div>



      <div class="banner" style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.12) 0, rgba(0,0,0,0.55) 74.4%),url('<%= cl_image_path @list.photo.key, crop: :thumb, gravity: :face %>')">
          <h1 class="text-center"> <%= @list.name %></h1>
      </div>

<div class='container'>
 <div class="row my-2 px-5 pt-3">
    <% @list.movies.each do |movie| %>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
      <div class="col-6 col-sm-3 mb-4" data-aos="zoom-in">
        <div class="bg-white rounded-5 shadow h-100">
          <%= image_tag movie.poster_url, alt: movie.title, class: 'movie-img rounded-top mx-auto d-block pt-3' %>
          <div class="p-3 rounded-bottom d-flex flex-column">
            <strong><%= movie.title %> <span class="text-muted font-weight-normal">• <%= movie.rating %> ⭐️</span></strong>
            <small class="text-muted"><%= movie.overview %></small>
            <div class="d-flex align-items-end justify-content-between pt-4">
              <div>
                <i class="fas fa-quote-left mr-2"></i><small class="flex-grow-1"> <%= bookmark.comment %></small>
              </div>
              <small class="text-right flex-shrink-0"><%= link_to 'delete', bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, class: 'text-danger' %></small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>


  <div class="row px-5 mt-3">
    <div class="col-12">
      <div class="form">
        <h3>Add a new movie</h3>
        <%= simple_form_for [ @list, @bookmark ] do |f| %>
          <%= f.input :comment, placeholder: 'Add your comment' %>
          <%= f.association :movie, input_html: { class: 'select2' } %>
          <%= f.submit "Add movie", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
  <%= link_to "Delete", "/lists/#{@list.id}", method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>
</div>
